/* Importing Google font - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1d1e23, #3b3b47);
}

.typing-container {
  text-align: center;
}

h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

h1 span:first-child {
  color: #ff79c6;
  animation: color-change 3s infinite alternate ease-in-out;
}

h1 span.typing {
  color: #8be9fd;
  position: relative;
}

h1 span.typing::before {
  content: "";
  height: 35px;
  width: 3px;
  position: absolute;
  top: 50%;
  right: -10px;
  background: #8be9fd;
  transform: translateY(-50%);
  animation: blink 0.6s infinite;
}

h1 span.typing.stop-blinking::before {
  animation: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes color-change {
  0% {
    color: #ff79c6;
  }
  100% {
    color: #bd93f9;
  }
}
